<!doctype html>
<html lang="zh-CN">
<head>
    <title>猎豹浏览器VIP包月会员专区</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=720,width=device-width, initial-scale=1,  initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="" />

    <meta name="keywords" content="" />

    <link rel="stylesheet" href="/game/mobile.css" />
    <script type='text/javascript' src='/game/jquery-1.7.2.min.js'></script>
</head>

<body>
<div class="index-hd">中移互联合作专区</div>
<div class="index-products">
    {volist name="goods" id="vo"}
    <a href="/index/detail/{$vo['id']}" title="" class="index-products-item">
        <img src="{$vo['img']}" alt="" />
    </a>
    {/volist}
</div>
</body>

</html>