<!doctype html>
<html lang="zh-CN">

<head>
    <title>猎豹浏览器VIP包月会员专区</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=720,width=device-width, initial-scale=1,  initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="" />

    <meta name="keywords" content="" />

    <link rel="stylesheet" href="/game/mobile.css" />
    <script type='text/javascript' src='/game/jquery-1.7.2.min.js'></script>
</head>

<body>
<div class="detail">
    <input type='hidden' id='uid' value="">
    <input type='hidden' id='isvip' value="">
    <div class="detail-banner">
        <img src="{$goods['img']}" alt="" />
    </div>

    <div class="detail-info">
        <dl>
            <dt>会员产品包：</dt>
            <dd>
                <p>{$goods['title']}</p>
            </dd>
            <dt>会员权益：</dt>
            <dd>
                <p> {$goods['desc']}</p>
            </dd>
            <dt>产品价格：{$goods['price']}元/月</dt>
            <dd>
                <a id="click-buy"  href="javascript:;" class="btn btn-ok">立即订购</a>
                <a href="{if($c_id)}/login/logout{else}/login/register{/if}"
                   {if($c_id)} '' {else} target="_blank"{/if}" class="btn btn-cancel">{if($c_id)}退出{else}注册{/if}</a>
            </dd>
        </dl>
    </div>

    <div class="detail-game">
        <div class="detail-game-hd">热门手游</div>
        <div class="detail-game-list">
            {volist name="games" id="vo"}
            <a  id="click_buy" href="
            {if($c_id)}
                {if($is_allow_down)}
                {$vo['down_url']}
                {else}
                   javascript:alert('请先订购');
                {/if}
            {else}javascript:alert('请先注册后登陆');
            {/if}" class="detail-game-item clearfix" data-id="1">
                <div class="pic">
                    <img src="{$vo['img']}" alt="" />
                    <span>{$vo['title']}</span>
                </div>
                <div class="desc">{$vo['desc']}</div>
            </a>
            {/volist}
        </div>
    </div>

    <div class="detail-help">
        如使用中遇到问题，请浏览器打开<a href="http://47.106.39.6/index/game.html">http://47.106.39.6/index/game.html</a>，或拨打客服电话：<a href="tel:400-801-5611" class="tel">400-801-5611</a>
    </div>
</div>
</body>
</html>
<script>
    $(function () {
        $('#click-buy').click(function () {
            var customer_id ="{$c_id}";
            var url = "/login/login";
            if(customer_id){
                if(confirm('确定要订购吗？')){
                    var url = "/index/order?gid={$goods['id']}";
                }
            }
            location.href = url;
        });
    });
</script>