/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
img {vertical-align: middle}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body {max-width: 640px;min-width: 320px;margin: 0 auto;background: #eeeeee;}
a,a:hover{color:#333;}
.clearfix:before, .clearfix:after{content:"\0020";display:block;height:0;overflow:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}

/*index*/
.index-hd {border-bottom: 1px solid #e5e5e5;background: #c40000;text-align: center;line-height: 40px;font-size: 16px;color: #FFF;}
.index-products-item {display: block;margin: 10px 10px 0;border-radius: 10px;overflow: hidden;}
.index-products-item img {width: 100%;margin: 0 auto;}

/*detail*/
.detail-banner {display: block;}
.detail-banner img {width: 100%;margin: 0 auto;}
.detail-info {background: #FFF;}
.detail-info dl {padding: 10px;;}
.detail-info dl dt {line-height: 30px;font-size: 16px;color: #333;font-weight: 600;}
.detail-info dl dd {margin-bottom: 10px;border-bottom: 1px solid #e5e5e5;padding-bottom: 10px;}
.detail-info dl dd p {font-size: 14px;color: #666;line-height: 20px;}
.detail-info .btn {display: inline-block;width: 100px;height: 38px;line-height: 38px;font-size: 16px;color: #FFF;border-radius: 4px;text-align: center;margin: 20px 20px 20px 0;}
.detail-info .btn-ok {background: #23ad23;}
.detail-info .btn-cancel {background: #797985;}
.detail-game {background: #FFF;margin-top: 10px;padding: 0 10px;}
.detail-game-hd {line-height: 40px;font-size: 16px;color: #333;font-weight: 600;border-bottom: 1px solid #e5e5e5;}
.detail-game-item {display: block;padding: 20px 0;}
.detail-game-item .pic {float: left;width: 36%;text-align: center;}
.detail-game-item .pic img {width: 60px;height: 60px;margin: 0 auto;}
.detail-game-item .pic span {display: block;font-size: 14px;margin-top: 10px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.detail-game-item .desc {width: 54%;float: left;font-size: 14px;color: #333;padding: 0 5%;line-height: 20px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;}
.detail-help {margin-top: 10px;background: #FFF;font-size: #666;font-size: 12px;line-height: 18px;padding: 10px;}
.detail-help a {color: #49a8ff;}
.detail-help .tel {color: #F40000;}

/* form */
.form-hd {border-bottom: 1px solid #e5e5e5;background: #c40000;text-align: center;line-height: 40px;font-size: 16px;color: #FFF;}
.form-box {}
.form-group {padding: 10px 10px 10px 80px;position: relative;overflow: hidden;border-bottom: 1px solid #e5e5e5;background: #FFF;}
.form-group.end {border:none;}
.form-group label {font-size: 14px;position: absolute;top: 10px;line-height: 34px;left: 10px;width: 60px;text-align: center;}
.form-group input {height: 34px;padding: 0 10px;background: #FFF;border: none;width: 100%;box-sizing: border-box;font-size: 14px;}
.form-btn {padding: 0 10px;margin-top:20px;}
.form-btn a {background: #c40000;font-size: 14px;color: #FFF;text-align: center;height: 40px;line-height: 40px;display: block;border-radius: 4px;}
.form-link {margin-top: 20px;padding: 0 10px;}
.form-link a {font-size: 14px;color: #36c;}
.form-link span {font-size: 14px;color: #36c;margin: 0 10px;}