<!doctype html>
<html lang="zh-CN">

<head>
    <title>猎豹浏览器VIP包月会员专区</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=720,width=device-width, initial-scale=1,  initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="" />

    <meta name="keywords" content="" />

    <link rel="stylesheet" href="/game/mobile.css" />
    <script type='text/javascript' src='/game/jquery-1.7.2.min.js'></script>
</head>

<body>
    <div class="form">
        <div class="form-hd">欢迎{if($action == 'login')}登录{else}注册{/if}</div>
        <form action="" class="form-box" id="form-login">
            <div class="form-group">
                <label>手机号码:</label>
                <input type="text"  name="phone" required value="" placeholder="请输入手机号码" />
            </div>
            <div class="form-group">
                <label>用户名:</label>
                <input type="text"  name="c_name" required value="" placeholder="请输入用户名" />
            </div>
            <div class="form-group end">
                <label>密码:</label>
                <input type="password" name="passwd" required value="" placeholder="请输入密码" />
            </div>
            <div class="form-btn">
                <a href="javascript:;" class="btn"  onclick="adminLogin()">
                    {if($action == 'login')}登录{else}注册{/if}
                </a>
            </div>
            <div class="form-link">
                {if($action == 'login')}
                <a href="/login/register">注册</a>
                {else}
                <a href="/login/login">已有账号，直接登录</a>
                {/if}
                <span>|</span>
                <a href="/">首页</a>
            </div>
        </form>
    </div>
</body>
<script>
    $(document).on('keydown', function() {
        if(event.keyCode == 13) {
            $(".btn-login").click();
        }
    });
    function adminLogin() {
        {if($action=='login')}
        var toUrl = "{:url('/login/ajaxLogin')}";
        {else}
        var toUrl = "{:url('/login/ajaxRegister')}";
        {/if}
            var postData = $("#form-login").serialize();
            var indexUrl = "{:url('/index/index')}";
            $.post(
                toUrl,
                postData,
                function (result) {
                    if(result.status == 1){
                        window.location.href = indexUrl;
                    }else{
                        //失败
                        alert(result.message);
                        //layer.msg(result.message);
                    }
                },"JSON");
        }
</script>
</html>